body {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    font-size: 40px
}


h2 {
    text-align: center;
}

p {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

table {
    border: 2px solid black;
    width: 70%;
    margin: 5px auto;

}


th {
    background-color: hsla(0, 54%, 43%, 0.8);
    padding: 2px 0px;
}

.first {
    width: 70px;
}

td {
    padding: 3px 0px 0px 3px;
    border-top: 1px solid rgb(176, 176, 176);
}

ul {
    width: fit-content;
    text-align: left;
    list-style: inside;
    margin: 0 auto;
    padding-bottom: 10px;
}

.code {
    font-family: monospace;
    background-color: lightgrey;
}

.z-index {
    width: 60%;
    border: 2px solid black;
    padding: 2px;
    margin: 20px auto;
    padding-top: 0px;
}

.z-index h2 {
    margin-top: 10px;
}